@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  counter-reset: section;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 + h3 {
  margin-top: -3rem;
}

pre {
  white-space: pre-wrap;
  word-break: break-all;
}

.numbered-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  white-space: nowrap;
}

.numbered-heading::before {
  position: relative;
  bottom: 0.25rem;
  counter-increment: section;
  content: '0' counter(section) '.';
  margin-right: 0.25rem;
  font-size: 1rem;
  color: #818181;
}

.numbered-heading::after {
  content: '';
  display: block;
  position: relative;
  width: 4rem;
  height: 0.125rem;
  margin-left: 0.25rem;
  background-color: #818181;
}

.offset {
  margin-bottom: 0rem;
}

.offset:before {
  display: block;
  content: ' ';
  height: 3rem;
  visibility: hidden;
}

.underline {
  position: relative;
  text-decoration: none;
}

.underline::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline:hover::before {
  transform: scaleX(1);
}
